option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: "src.main:app"
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current/src:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro